@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');
*{
    @include reset-list;
}

body{
    background: #E5E5E5;
}

.red {
	color: red;
}
.green {
	color: green;
}
.yellow {
	color: yellow;
}
button {
	padding: 12px 24px;
	background-color: $main-color;
	border: none;
	border-radius: 6px;
	color: $whiteColor;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	cursor: pointer;
}