@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');
@import './scss/variables';
@import './scss/mixins';
*{
    @include reset-list;
}

body{
    background: #E5E5E5;
}

.red {
	color: red;
}
.green {
	color: green;
}
.yellow {
	color: yellow;
}